<ion-view view-title="{{ 'APP_TITLE' | translate }}">
  <ion-nav-title>{{ 'APP_EXERCISES_LEVEL' + level | translate }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-checkmark-round hide" ng-class="{'hide' : !forms.exerciseForm.$dirty && !dirty}" ng-click="save()"></a>
    <exercises-more-menu on-discard="discard()" ng-class="{'hide' : !forms.exerciseForm.$dirty && !dirty}"></exercises-more-menu>
  </ion-nav-buttons>

  <ion-content class="padding">

    <form name="forms.exerciseForm" novalidate>
      <div class="card" ng-show="crawlingItems.length == 0 && stretchingItems.length == 0">
        <div class="item item-text-wrap">
          {{'APP_NO_EXERCISES' | translate}}
        </div>
      </div>

      <div class="card" ng-show="crawlingItems.length > 0">
        <div class="item item-text-wrap item-positive">
          {{'BLOCK_CRAWLING' | translate}}
        </div>
        <ion-list ng-repeat="item in crawlingItems = ( items | filter:{ block: 'crawling' })">
          <ion-item class="item-divider">
            <h2>{{item.name}}</h2>
          </ion-item>
          <ion-toggle ng-repeat="variation in item.variations" toggle-class="toggle-calm" ng-model="variation.selected">
            <tooltip text="variation.description"></tooltip>
            <small>{{variation.name}}</small>
          </ion-toggle>
        </ion-list>
      </div>

      <div class="card" ng-show="stretchingItems.length > 0">
        <div class="item item-text-wrap item-positive">
          {{'BLOCK_STRETCHING' | translate}}
        </div>
        <ion-list ng-repeat="item in stretchingItems = ( items | filter:{ block: 'stretching' })">
          <ion-item class="item-divider">
            <h2>{{item.name}}</h2>
          </ion-item>
          <ion-toggle ng-repeat="variation in item.variations" toggle-class="toggle-calm" ng-model="variation.selected">
            <tooltip text="variation.description"></tooltip>
            <small>{{variation.name}}</small>
          </ion-toggle>
        </ion-list>
      </div>
    </form>

  </ion-content>
</ion-view>
