<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{"ACTIVITY_TRAINING_COMPLETED" | translate}}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h3>{{"ACTIVITY_TRAINING_COMPLETED_GREETING" | translate}}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col no-padding text-center">
                <img src="img/emoticons/smiley-clapping.png">
            </div>
        </div>

        <button class="button button-full button-positive" ng-click="hideModal()">
            {{"ACTIVITY_TRAINING_COMPLETED_BUTTON_TEXT" | translate}}
        </button>

    </ion-content>
</ion-modal-view>