<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width"><title></title><link rel="manifest" href="manifest.json"><link rel="stylesheet" href="css/style.css"><script src="js/lib.js"></script><script src="cordova.js"></script><script src="js/app.js"></script></head><body ng-app="training-app"><ion-nav-bar class="bar-positive"><ion-nav-back-button></ion-nav-back-button></ion-nav-bar><ion-nav-view animation="slide-left-right"><ion-view><ion-content></ion-content></ion-view></ion-nav-view></body><script id="home-menu" type="text/ng-template"><ion-popover-view class="fit">
      <ion-content>
        <div class="list">
          <a class="item" href="" ng-click="newTraining()">{{"ACTIVITY_TRAINING_NEW" | translate}}</a>
        </div>
      </ion-content>
    </ion-popover-view></script></html>