<ion-view view-title="{{ 'APP_TITLE' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-checkmark-round hide" ng-class="{'hide' : (!showDelete && !showReorder) || !hasData}" ng-click="saveChanges()"></button>
    <exercises-more-menu on-discard="cancelChanges()" ng-class="{'hide' : (!showDelete && !showReorder) || !hasData}"></exercises-more-menu>
    <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()" ng-hide="showDelete || showReorder || !hasData"></button>
    <button class="button button-icon icon  ion-shuffle" ng-click="toggleReorder()" ng-hide="showDelete || showReorder || !hasData"></button>
    <button class="button button-icon icon  ion-compose" ng-click="addRemoveExercises()" ng-hide="showDelete || showReorder || !hasData"></button>
  </ion-nav-buttons>

  <ion-content class="has-bottom padding-top">
    <div class="row" ng-show="!hasData && initialized">
      <div class="col">
        <button class="button icon ion-plus-round" ng-click="addRemoveExercises()">
        </button>
      </div>
    </div>

    <div class="card" ng-show="hasData && items.length == 0 && initialized">
      <div class="item item-text-wrap">
        {{'APP_NO_EXERCISES' | translate}}
      </div>
    </div>

    <div class="row" ng-show="hasData && initialized">
      <div class="col">
        <ion-list show-delete="showDelete" show-reorder="showReorder">

          <ion-item ng-repeat="item in items"
                    item="item"
                    href="" class="item-remove-animate">

            <h2><tooltip exercise-title="variations[item].name" text="variations[item].description"></tooltip>{{ variations[item].name }}</h2>
            <p>{{variations[item].productName}}, {{'APP_LEVEL' + variations[item].stage | translate}}, {{'BLOCK_' + variations[item].block.toUpperCase() | translate}}</p>

            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>

        </ion-list>
      </div>
    </div>

  </ion-content>

</ion-view>

