<ion-view view-title="{{ 'APP_TITLE' | translate }}">
  <ion-nav-title>{{ 'APP_HISTORY_LONG' | translate }}</ion-nav-title>
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        <h2>{{history.date}}</h2>
        <p>{{'HISTORY_DURATION' | translate}}: {{history.duration}}</p>
        <p>{{'HISTORY_EXERCISE_COUNT' | translate}}: {{history.exerciseCount}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list>

          <ion-item ng-repeat="item in history.completedExercises"
                    item="item"
                    href="" ng-show="history.completedExercises.length > 0">

            <h2><tooltip exercise-title="variations[item.id].name" text="variations[item.id].description"></tooltip>{{ variations[item.id].name }}</h2>
            <p>{{variations[item.id].productName}}, {{'APP_LEVEL' + variations[item.id].stage | translate}}, {{'BLOCK_' + variations[item.id].block.toUpperCase() | translate}}</p>
            <p>{{'HISTORY_DURATION' | translate}}: {{item.duration}}</p>

            <div class="col-center">
              <img class="emoticon" ng-src="{{'img/emoticons/' + item.rating}}">
            </div>
          </ion-item>

        </ion-list>

      </div>
    </div>
  </ion-content>
</ion-view>
