<ion-view view-title="{{'APP_TITLE' | translate}}">
  <ion-nav-title>{{ modeStr | translate }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <a href="" class="button button-icon icon ion-android-more-vertical hide" ng-click="openMenu($event)" ng-class="{'hide' : !isMenuVisible}"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card ng-hide" ng-show="total == 0 && !currentExercise">
      <div class="item item-text-wrap">
        {{'APP_NO_EXERCISES' | translate}}
      </div>
    </div>

    <ul class="list ng-hide" ng-hide="total == current || total == -1 || !currentExercise">
      <li class="item">
        <h2><tooltip exercise-title="variations[currentExercise].name" text="variations[currentExercise].description"></tooltip>{{ variations[currentExercise].name }}</h2>
        <p>{{variations[currentExercise].productName}}, {{'APP_LEVEL' + variations[currentExercise].stage | translate}}, {{'BLOCK_' + variations[currentExercise].block.toUpperCase() | translate}}</p>
      </li>
    </ul>

    <ul class="list ng-hide" ng-show="total == -1">
      <li class="item">
        <h2>{{'ACTIVITY_TRAINING_SEARCHING_TITLE' | translate}}</h2>
        <p>{{'ACTIVITY_TRAINING_SEARCHING' | translate}}</p>
      </li>
    </ul>

    <ul class="list ng-hide" ng-show="total == current && total > 0">
      <li class="item">
        <h2>{{'ACTIVITY_TRAINING_COMPLETED_TITLE' | translate}}</h2>
        <p>{{'ACTIVITY_TRAINING_COMPLETED_NEW_EXERCISE' | translate}}</p>
      </li>
    </ul>

    <div class="progress-wrapper" ng-show="total > 0">
      <div class="progress-area">
        <round-progress
                ng-show="total > 0"
                class="ng-hide"
                max="total"
                current="current"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="185"
                stroke="30"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="true"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0">
        </round-progress>
      </div>
      <div class="timer-area" ng-show="startedAfterInit && total > 0" class="ng-hide">
        <h3><timer ng-show="startedAfterInit" class="ng-hide" interval="1000" autostart="false" start-time="startTime">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h3>
      </div>
      <div class="timer-area" ng-hide="startedAfterInit && total > 0" class="ng-hide">
        <h3><static-timer ng-hide="startedAfterInit && total > 0" class="ng-hide" start-time="startTime"></static-timer></h3>
      </div>
      <div class="control-area" ng-hide="!currentExercise" class="ng-hide">
        <a ng-click="stop()" ng-show="isPlayOn || isPauseOn" class="ng-hide"><img ng-show="isPlayOn || isPauseOn" class="ng-hide" src="img/stop.png"></a>
        <a ng-click="pause()" ng-show="isPlayOn" class="ng-hide"><img ng-show="isPlayOn" class="ng-hide" src="img/pause.png"></a>
        <a ng-click="play()" ng-show="isStopOn || isPauseOn" class="ng-hide"><img ng-show="isStopOn || isPauseOn" class="ng-hide" src="img/play.png"></a>
        <div ng-show="total == current && total > 0" class="ng-hide">
          <img src="img/finish.png">
        </div>
      </div>
      <div class="control-area ng-hide" ng-show="total == current && total > 0">
        <img class="ng-hide" ng-show="total == current && total > 0" src="img/finish.png">
      </div>
    </div>
  </ion-content>
</ion-view>