ion-popover-view.fit {
    height: auto !important;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}

.animated.modal.bounceIn.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    height:  120px;
    text-align:center;
}

.has-bottom .scroll{
    padding-bottom:120px !important;
}

.button-circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}

.progress-wrapper{
    position: relative;
}

.progress-wrapper .timer-area{
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.progress-wrapper .control-area {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    max-height: 100px;
    height: 25%
}

.progress-wrapper .control-area img {
    height: 100%;
}

.progress-wrapper .progress-area {
    max-height: 300px;
    max-width: 300px;
    text-align: center;
    margin : 0 auto;
}

.no-padding {
    padding: 0px !important;
}

.emoticon {
    max-height: 90px;
}

.splash .row {
    height: 100%;
}

.splash .col {
    text-align: center;
}